LITELLM_API_KEY = <litellm_key>

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=neura-agents-platform
# Temporal
TEMPORAL_ADDRESS=localhost:7233
AGENT_EXECUTION_TASK_QUEUE=agent-execution-queue
PAUSE_TIMER_MINUTES=10
